.generic-bottom-page {
  min-height: calc(100dvh - var(--header-size-fs));;
  background: var(--background-secondary-color);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.generic-bottom-content {
  flex: 1;
  padding: 60px 40px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.generic-bottom-content.show {
  opacity: 1;
  transform: translateY(0);
}