.home-bottom-page {
  width: 100%;
  min-height: 100vh;
  background: var(--background-secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.desktop-only {
  display: none;
}

.mobile-only {
  display: block;
}

@media (min-width: 900px) {
  .desktop-only {
    display: block;
  }

  .mobile-only {
    display: none;
  }
}
