.transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 999;
  overflow: hidden;
}

.columns {
  display: flex;
  width: 100%;
  height: 100%;
}

.col {
  flex: 1;
  background-color: var( --background-secondary-color);
  transform-origin: bottom;
  transform: scaleY(0);
  visibility: hidden;
  transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1);
}